<div class="form-line">
    <input class="form-input form-input-block" type="text">
    <label class="form-input-hint">乘客姓名，务必与登机证件一致</label>
    <div class="form-toggle">
        <a><span>英</span></a>
        <a class="current"><span>中</span></a>
        <i class="current-icon"></i>
    </div>
    <i class="ico-help"></i>
</div>
<div class="form-line passenger-identity">
    <div class="form-item">
        <div class="form-select">
            <span class="form-select-txt"><span id="dropdownPassengerIdLabel">身份证</span><i class="ico-caret-up"></i></span>
        </div>
    </div>
    <div class="form-item">
        <input class="form-input" type="text" id="dropdownPassengerIdTxt">
        <label class="form-input-hint">证件号码</label>
        <div class="form-hint-msg">
            <i class="ico-info"></i>
            <span>由于航司限制，该航班仅限12周岁以上乘客预订</span>
        </div>
        <div class="form-hint-msg">
            <i class="ico-info"></i>
            <span>航司规定儿童须有成人陪伴，1成人仅能携带2儿童</span>
        </div>
        <div class="form-hint-msg">
            <i class="ico-info"></i>
            <span>航司规定婴儿须有成人陪伴，1成人仅能携带1婴儿</span>
        </div>
    </div>
    <i class="ico-help"></i>
</div>
<div class="form-line form-line-oldpass">
    <label class="form-checkbox">
        <input type="checkbox">
        <span>常旅客卡</span>
    </label>
    <span class="form-hint">如您是凤凰知音常旅客，已自动为您累积里程。</span>
</div>
