<div class="form-line">
    <div class="form-item passenger-name-en">
        <input class="form-input form-input-block" type="text">
        <label class="form-input-hint">姓(Surname)</label>
    </div>
    <div class="form-item passenger-name-en">
        <input class="form-input form-input-block" type="text">
        <label class="form-input-hint">名(Given name)</label>
    </div>
    <div class="form-toggle">
        <a><span>英</span></a>
        <a class="current"><span>中</span></a>
        <i class="current-icon"></i>
    </div>
</div>
<div class="form-line">
    <div class="form-item passenger-name-en form-error">
        <input class="form-input form-input-block form-input-hasvalue" type="text" value="LI">
        <label class="form-input-hint">姓(Surname)</label>
        <div class="form-error-msg">
            <i class="ico-error"></i>
            <span>请正确填写证件中的拼音或英文姓，例如姓为方，应填写FANG</span>
        </div>
    </div>
    <div class="form-item passenger-name-en">
        <input class="form-input form-input-block" type="text">
        <label class="form-input-hint">名(Given name)</label>
    </div>
    <div class="form-toggle">
        <a><span>英</span></a>
        <a class="current"><span>中</span></a>
        <i class="current-icon"></i>
    </div>
</div>
<div class="form-line">
    <div class="form-item passenger-name-en">
        <input class="form-input form-input-block form-input-hasvalue" type="text" value="LI">
        <label class="form-input-hint">姓(Surname)</label>
    </div>
    <div class="form-item passenger-name-en form-error">
        <input class="form-input form-input-block form-input-hasvalue" type="text" value="FEI FEI">
        <label class="form-input-hint">名(Given name)</label>
        <div class="form-error-msg">
            <i class="ico-error"></i>
            <span>请正确填写证件中的拼音或英文名，例如名为楚慧，应填写CHU HUI</span>
        </div>
    </div>
    <div class="form-toggle">
        <a><span>英</span></a>
        <a class="current"><span>中</span></a>
        <i class="current-icon"></i>
    </div>
</div>
<div class="form-line form-error">
    <div class="form-item passenger-name-en">
        <input class="form-input form-input-block form-input-hasvalue" type="text" value="LI">
        <label class="form-input-hint">姓(Surname)</label>
    </div>
    <div class="form-item passenger-name-en">
        <input class="form-input form-input-block form-input-hasvalue" type="text" value="FEI FEI">
        <label class="form-input-hint">名(Given name)</label>
    </div>
    <div class="form-toggle">
        <a><span>英</span></a>
        <a class="current"><span>中</span></a>
        <i class="current-icon"></i>
    </div>
    <div class="form-error-msg">
        <i class="ico-error"></i>
        <span>请填写正确的中文或英文联系人姓名</span>
    </div>
</div>
<div class="form-line passenger-identity">
    <div class="form-item">
        <form-select></form-select>
    </div>
    <div class="form-item">
        <input class="form-input" type="text">
        <label class="form-input-hint">证件号码</label>
    </div>
    <i class="ico-help"></i>
</div>
<div class="form-line form-line-oldpass">
    <label class="form-checkbox">
        <input type="checkbox">
        <span>常旅客卡</span>
    </label>
    <span class="form-hint">如您是凤凰知音常旅客，已自动为您累积里程。</span>
</div>
