
<div class="form-line form-error">
    <input class="form-input form-input-block" type="text">
    <label class="form-input-hint">姓名务必与登记证件一致</label>
    <div class="form-error-msg">
        <i class="ico-error"></i>
        <span>请按照登机所持证件填写中文或英文姓名</span>
    </div>
    <form-toggle></form-toggle>
</div>
<div class="form-line passenger-identity form-error">
    <div class="form-item">
        <form-select></form-select>
    </div>
    <div class="form-item">
        <input class="form-input" type="text">
        <label class="form-input-hint">证件号码</label>
        <div class="form-error-msg">
            <i class="ico-error"></i>
            <span>请填写登机证件上的证件号码</span>
        </div>
    </div>
</div>
<div class="form-line form-error">
    <input class="form-input" type="text">
    <label class="form-input-hint">出生日期</label>
    <div class="form-error-msg">
        <i class="ico-error"></i>
        <span>请填写正确的出生日期，日期格式：YYYY-MM-DD</span>
    </div>
</div>
<div class="form-line form-line-oldpass">
    <label class="form-checkbox">
        <input type="checkbox">
        <span>常旅客卡</span>
    </label>
    <span class="form-hint">如您是凤凰知音常旅客，已自动为您累积里程。</span>
</div>
